.authMethods {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    button {
        cursor: pointer;
        border-radius: 4px;
        background: rgba(22, 22, 22);
        border: 1px solid rgba(128, 128, 128);
        display: inline-block;
        padding: 10px;
        &:not(:last-child) {
            margin-right: 30px;
        }

        &:hover {
            background: rgba(22, 22, 22, 0.7);
            border: 1px solid rgba(128, 128, 128, 0.7);
        }
    }
}
