.underLine {
    border-bottom: 8px solid #232323;
}

.enjoyTv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
    .tvText {
        h1 {
            font-size: 48px;
            font-weight: 900;
            padding-bottom: 10px;
        }
        p {
            max-width: 780px;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .tvVideo {
        display: flex;
        .tvItems {
            width: 640px;
            height: 480px;
            position: relative;
            img {
                width: 640px;
                height: 480px;
                z-index: 22;
                position: absolute;
            }
            video {
                position: absolute;
                top: 100px;
                left: 80px;
            }
        }
    }
}

@media (width: 768px) {
    .enjoyTv {
        margin-top: 40px;
        .tvText {
            h1 {
                font-size: 40px;
                font-weight: 900;
                padding-bottom: 10px;
            }
            p {
                max-width: 780px;
                font-size: 19px;
                font-weight: 400;
            }
        }
        .tvVideo {
            display: flex;
            width: 440px;
            height: 280px;
            .tvItems {
                position: relative;
                img {
                    width: 440px;
                    height: 280px;
                    z-index: 22;
                    position: absolute;
                }
                video {
                    width: 348px;
                    height: 183px;
                    position: absolute;
                    top: 58px;
                    left: 47px;
                }
            }
        }
    }
}
