@import "../../styles/variables.scss";

.header {
    min-height: 700px;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        url("/assets/header/headerBg.jpg") center/cover no-repeat;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    .logoText {
        font-size: 40px;
        color: red;
    }

    .signIn {
        a,
        button {
            display: inline-flex;
            align-items: flex-end;
            border-radius: 5px;
            background-color: red;
            text-decoration: none;

            cursor: pointer;

            color: $text-color-white;
            font-size: 20px;
            padding: 5px 15px;

            img {
                margin-left: 10px;
            }

            &:hover {
                background-color: darken(red, 10%);
            }

            &:active {
                background-color: darken(red, 20%);
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    h1 {
        font-size: 48px;
        font-weight: 900;
        text-align: center;
    }
    h5 {
        margin-top: 25px;
        font-size: 24px;
        font-weight: 400;
    }
    p {
        margin: 16px 0;
        font-size: 20px;
        line-height: 1.5;
    }
}

.advertising {
    position: absolute;
    z-index: 33;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    padding: 22px;
    width: 95%;

    background: radial-gradient(
        51.39% 511.66% at 47.68% -217.91%,
        #ff9900 0%,
        #e50914 17.27%,
        #0e1b4f 79.44%,
        #000413 100%
    );
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    .advertisingText {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .advertisingTitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    .advertisingSmallText {
        font-size: 16px;
        line-height: 24px;
        margin-top: 4px;
        margin-bottom: 8px;
    }
    .linkLearnMore {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #448ef4;
        font-weight: 500;
    }
}

@media (width: 2560px) {
    .advertising {
        top: 59%;
    }
}

@media (width: 1440px) {
    .advertising {
        top: 85%;
    }
}

@media (width: 1024px) {
    .advertising {
        top: 85%;
    }
}

@media (width: 768px) {
    .advertising {
        top: 90%;
    }
}
